body {
  font-family: 'Work Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes declarationBlink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: yellow;
  }
}

.LiftOrder {
  position: fixed;
  bottom: 20px;
  left: 20px;

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: white;
    padding: 3px;
  }

  &__sequence {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__upcoming {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: flex;

    &Lot {
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin: 1px 1px 0 0;
      background: white;
      width: 32px;
      height: 32px;
    }

    &.is-separator {
      margin-top: 8px;
    }

    &.is-current &Lot {
      background: yellow;
    }
    &.is-current &Name ,
    &.is-current &Team ,
    &.is-current &Weight {
      color: yellow;
    }
    
    &Identifier {
      background: rgb(50,50,50);
      width: 160px;
      height: 32px;
      padding-left: 5px;
      padding-right: 5px;
      margin: 1px 1px 0 0;
      padding-top: 3px;
      display: flex;
      justify-content: space-between;
    }

    &Name {
      overflow: hidden;
      font-weight: bold;
      color: white;
      flex: 5 1 auto;
    }

    &Team {
      font-weight: normal;
      font-size: 17px;
      padding-top: 2px;
      margin-right: 0;
      padding-left: 4px;
      text-align: center;
      color: white;
      flex: 1 0 auto;
    }

    &AttemptStates {
      margin: 1px 0 0 0;
      display: flex;
      height: 32px;
    }
    &AttemptState {
      margin-right: 1px;
      background: white;
      width: 10px;
      height: 32px;

      &.is-declared {
        background: rgb(40,40,40);
      }
      &.is-success {
        background: white;
      }
      &.is-fail {
        background: red;
      }
      &.is-nil {
        background: rgb(40,40,40);
      }
    }

    &PreviousWeight {
      transition: width 0.3s ease;
      width: 0;
      overflow: hidden;
      position: relative;

      &Entry {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        margin-top: 1px;
        text-align: center;
        border: 1px solid yellow;
        border-right: none;
        height: 100%;
        margin-right: 1px;
        background: rgb(40,40,40);
        padding-top: 3px;
        width: 39px;
        height: 32px;
      }

      &.is-active {
        width: 41px;
      }
    }

    &Weight {
      margin: 1px 1px 0 0;
      background: rgb(40,40,40);
      padding-top: 3px;
      width: 40px;
      color: white;
      text-align: center;
    }
  }

  &__current {
    margin: 1px 1px 0 0;
    position: relative;
    display: flex;

  }
}

.CurrentLifter {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  position: absolute;
  background: rgba(50,50,50, 0.8);
  left: 350px;
  bottom: 5px;
  right: 350px;

  &.is-visible {
   opacity: 1;
   transform: translateY(0px);
  }


  &__identifier {
    background: rgb(50,50,50);
    font-size: 26px;
    color: white;
    display: flex;
  }


  &__lot {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
    background: white;
    color: black;
    width: 40px;
    height: 44px;
  }

  &__name {
    margin-left: 6px;
    padding-top: 6px;
    font-weight: normal;
  }
  &__team {
    margin-left: auto;
    padding-top: 6px;
    margin-right: 16px;
    font-weight: bold;
  }


  &__lifts {
    display: flex;
    color: white;
    height: 44px;
  }


  &__attemptStates {
    margin-left: 40px;
    display: inline-block;
    height: 44px;
    margin-right: 20px;
    vertical-align: top;
  }
  &__attemptState {
    margin-right: 1px;
    padding-top: 2px;
    display: inline-block;
    text-align: center;
    background: white;
    position: relative;
    font-size: 26px;
    width: 70px;
    height: 44px;
    vertical-align: top;
    background: rgb(40,40,40);

    & + & {
      margin-left: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 10px;
      left: 0;
      right: 0;
    }

    &.is-declared:before {
      background: yellow;
    }
    &.is-success:before {
      background: white;
    }
    &.is-fail:before {
      background: red;
    }
    &.is-nil {
    }
  }

  &__weight {
    margin: 1px 1px 0 0;
    border: 1px solid yellow;
    background: rgb(40,40,40);
    padding-top: 3px;
    width: 40px;
    color: white;
    text-align: center;
  }


  &__currentEvent {
    margin-left: auto;
    margin-right: 16px;
    justify-content: center;
    font-weight: bold;
    display: flex;

    &Info {
      font-size: 26px;
      height: 44px;
      padding: 3px 20px 0;
      font-weight: normal;
    }

    &Heading {
      text-transform: uppercase;
      color: white;
      font-size: 26px;
      height: 44px;
      padding: 3px 20px 0;
      vertical-align: top;
      background: rgb(40,40,40);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 10px;
        left: 0;
        right: 0;
      }

      &.is-declared:before {
        background: yellow;
      }
      &.is-success:before {
        background: white;
      }
      &.is-fail:before {
        background: red;
      }
    }

    &.is-success &Heading:before {
      background: white;
    }

    &.is-fail &Heading:before {
      background: red;
    }

    &.is-declaration &Heading:before {
      background: yellow;
    }

  }
}


.PhaseScorecard {
  position: fixed;

  top: calc(100% + 15px);
  left: 5px;

  &__rows {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__row {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: flex;

    &Lot {
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin: 1px 1px 0 0;
      background: white;
      width: 24px;
      height: 28px;
    }

    &Name {
      padding-left: 5px;
      margin: 1px 1px 0 0;
      padding-top: 3px;
      background: rgb(50,50,50);
      width: 200px;
      height: 28px;
      text-overflow: ellipsis;
      color: white;
    }

    &Team {
      margin: 1px 1px 0 0;
      padding-top: 3px;
      background: rgb(40,40,40);
      width: 70px;
      text-align: center;
      color: white;
    }

    &AttemptStates {
      margin: 1px 1px 0 0;
      display: flex;
      height: 28px;
    }

    &AttemptState {
      margin: 1px 1px 0 0;
      background: rgb(40,40,40);
      padding-top: 3px;
      display: inline-block;
      width: 40px;
      color: white;
      text-align: center;

      &.is-declared {
        background: rgb(40,40,40);
        border: 1px solid yellow;
      }
      &.is-success {
        background: white;
        color: #000;
      }
      &.is-fail {
        background: red;
        color: #000;
      }
      &.is-nil {
      }
    }
  }
}


.BigScorecard {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 24px;

  &__rows {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__row {
    @rowHeight: 36px;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: flex;

    &.is-separator {
      margin-top: 12px;
    }

    &Lot {
      font-weight: bold;
      text-align: center;
      padding-top: 3px;
      margin: 1px 1px 0 0;
      background: white;
      width: 36px;
      height: @rowHeight;
    }

    &Name {
      padding-left: 5px;
      margin: 1px 1px 0 0;
      padding-top: 3px;
      background: rgb(50,50,50);
      width: 300px;
      height: @rowHeight;
      text-overflow: ellipsis;
      color: white;
    }

    &Team {
      margin: 1px 1px 0 0;
      padding-top: 8px;
      background: rgb(40,40,40);
      width: 90px;
      font-size: 17px;
      text-align: center;
      color: white;
    }
    &Phases {
      margin: 0px 1px 0 0;
      display: flex;
      height: @rowHeight;
    }

    &AttemptStates {
      margin: 1px 1px 0 2px;
      display: flex;
      height: @rowHeight;
    }

    &AttemptState {
      margin: 0px 1px 0px 0;
      background: rgb(40,40,40);
      padding-top: 3px;
      display: inline-block;
      width: 50px;
      color: white;
      text-align: center;

      &.is-declared {
        background: rgb(40,40,40);
        border: 1px solid yellow;
      }
      &.is-success {
        background: white;
        color: #000;
      }
      &.is-fail {
        background: red;
        color: #000;
      }
      &.is-nil {
      }
    }
    &Total {
      margin: 1px 1px -1px 1px;
      background: rgb(40,40,40);
      padding-top: 3px;
      display: inline-block;
      width: 60px;
      color: white;
      text-align: center;

        background: yellow;
        color: #000;
    }
  }
}


.PhaseScorecard ,
.BigScorecard ,
.LiftOrder {
  transition: opacity 0.4s linear, transform ease 0.5s;
  opacity: 0;

  &.is-visible {
    opacity: 1;

  }
}
